$gap-values: (
  '1': .4rem,
  '2': .8rem,
  '3': .1rem,
  '4': 1.2rem
);

.d-flex {
  display: flex;
}

.flex-column {
  flex-flow: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

@each $key, $value in $gap-values {
  .gap-#{$key} {
    gap: $value;
  }
}

