.Pole {
  width: 100%;
  // 45 is the height of the toolbar
  height: calc(100% - 48px);

  padding: .4rem .9rem;

  border: none;

  display: flex;
  flex-flow: column;

  overflow: scroll;

  & > * + * {
    margin-top: .2rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__actions {
    height: 64px;
  }

  .shuffle-move {
    transition: transform 1s;
  }
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all .1s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
