.QToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5rem 1rem;

  border: none;
  &__actions {
    display: flex;
    gap: .5rem;

    &__action {
      width: 30px;
      height: 30px;

      background: unset;

      border: 1px solid #fafafa;
      border-radius: 5px;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      transition: background .3s ease-in-out;

      svg {
        height: 20px;
        width: 20px;
      }

      &.--active {
        outline: 1px solid #bbb;
        background: #bbbbbb;
      }

      &:hover {
        background: #bbbbbb;
      }
    }
  }

  &__information {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    &__info {
      font-size: .8rem;
      color: #ccc;
    }
  }
}
