@import "./variables";

@import "./BlockShelf";
@import "./BlockEditor";
@import "./QuizBuilder";
@import "Blocks/defaults";
@import "Blocks/Button";
@import "./modules";

// Reset to defaults.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

.t-small {
  font-size: 10px;
}

.t-muted {
  color: gray;
}

.drag-over {
  opacity: .5;

  background: gray;
}
