$primary: #1890ff;
$secondary: #C8EFFF;

.ButtonForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  padding: 0.75rem 0.25rem;

  div:not(.ant-select-selection__rendered) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &.checkboxes-container {
      display: flex;
      flex-direction: row;

      .checkbox {
        width: 50%;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
      }
    }

    label {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1;
    }
  }
}

.ButtonUi {
  button {
    width: 100%;
    background-color: $primary;
    color: #fff;
    border: 0.125rem solid transparent;

    &.--outline {
      background-color: #fff;
      color: $primary;
      border-color: $primary;

      &.--secondary {
        color: $primary;
        background-color: #fff;
        border-color: $secondary;
      }
    }

    &.--secondary {
      background-color: $secondary;
      color: $primary;
    }
  }
}
