.QuizBuilder {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  height: 100vh;

  &__workspace {
    &__area {
      height: 100%;
      width: 30%;
    }
  }
}