.ant-layout {
  height: 100vh;
  background-color: transparent !important;

  .ant-layout-header {
    background-color: #fafafa;
    height: 3rem;
    line-height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .ant-layout-content {
    padding: 25px 50px;
  }

  .ant-layout-sider {
    .ant-menu {
      height: 100%;

      &-item {
        padding: 0 !important;

        &-selected::after {
          display: none;
        }
      }

      .router-link-active {
        color: #1890ff;
        background-color: #e6f7ff;

        width: 100%;
        padding-left: 24px;
      }
    }
  }
}